body {
    font-family: 'Roboto', sans-serif;
    background-color: lgihtgrey;
}
.nav-item {
    color: yellowgreen;
}

.jumbotron {
    background-color: beige;
}

.main-container {
    background-color: azure;
    
    border: 2px solid grey;
    
}
.bottom-footer {
    padding: 500px;
}

#my-pic{
    width: 300px;
    height: 300px;
    margin: 5% 0 5% 5%;
}

#text-area {
    font-size: 25px;
    margin-top: 2%;
}

.pizza {
    width: 200px;
    height: 200px;
}

